@import '~styles/config';

.block {
  padding: 60px 0;

  @media (min-width: $min-768) {
    padding: 180px 0;
  }

  &__col {
    @include grid-col;

    @media (min-width: $min-768) {
      @include grid-col(5);
    }
  }

  &__heading {
    @include rf(20, 24);
    font-weight: bold;
    margin-bottom: 10px;

    font-family: $font-heading;
  }

  &__description {
    @include rf(20, 24);

    font-weight: 400;
    line-height: (30 / 20);

    a {
      // stylelint-disable-line
      text-decoration: none;
      font-weight: 400;

      color: $color-link;

      transition: 200ms opacity ease-in-out;

      &:hover {
        // stylelint-disable-line
        opacity: 0.5;
      }
    }
  }
}
