#tripleseat_embed_form_inline {
  box-sizing: border-box !important;
  color: white;
}

#tripleseat_embed_form_inline .tripleseat_field label {
  color: #fff !important;
}

#tripleseat_embed_form_inline .tripleseat_field input[type="text"],
#tripleseat_embed_form_inline .tripleseat_field textarea,
#tripleseat_embed_form_inline .tripleseat_field select {
  padding: 8px 4px;
  background: #000;
  font-family: Champagne, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #333;
  color: #bbb;
  font-size: 16px;
  -webkit-appearance: none;
}

#tripleseat_embed_form_inline .tripleseat_field input[type="text"]:focus,
#tripleseat_embed_form_inline .tripleseat_field textarea:focus,
#tripleseat_embed_form_inline .tripleseat_field select:focus {
  border-color: #E4B86D;
  outline: 0;
}

#tripleseat_embed_form_inline h2 {
  color: #fff;
}


#tripleseat_embed_form_inline {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;

}

#tripleseat_embed_form_inline .tripleseat_field select {
  -webkit-appearance: none;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
  background-color: #000;
  background-image: url('data:image/svg+xml;utf8,<svg class="SVGInline-svg SVGInline--cleaned-svg SVG-svg Select-arrows-svg" style="width: 12px;height: 12px;" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path fill="gray" d="M11.591 9.992a1 1 0 1 1 1.416 1.415l-4.3 4.3a1 1 0 0 1-1.414 0l-4.3-4.3A1 1 0 0 1 4.41 9.992L8 13.583zm0-3.984L8 2.417 4.409 6.008a1 1 0 1 1-1.416-1.415l4.3-4.3a1 1 0 0 1 1.414 0l4.3 4.3a1 1 0 1 1-1.416 1.415z" fill-rule="evenodd"></path></svg>');
  border-color: #333;
  color: white;
  border-radius: 0;
}

#tripleseat_embed_form_inline .tripleseat_field textarea {
  box-sizing: border-box !important;
  width: 100% !important;
  max-width: 700px !important;
}

#tripleseat_embed_form_inline .button {
  background: #000;
  border: 1px solid #E4B86D !important;
  color: #E4B86D;
  font-family: Champagne,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5rem 1.25rem;
  font-size: 20px !important;
}


.errorExplanation {
  max-width: 400px;
  width: 400px;
  margin: 0 auto !important;
}


#tsLeadSuccessMessage {
  max-width: 400px;
  width: 400px;
  margin: 0 auto !important;
  color: white;
}

#tsLeadSuccessMessage+p+p {
  max-width: 400px;
  width: 400px;
  margin: 0 auto !important;
  color: white;
}
